section{
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
}


section .about_content{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid #b6b6b6;
    background-color:#ffffff;
    font-weight: bolder;
    width: 500px;
    text-align: center;
    padding:50px;

}

.about-text,ol{
    text-align: left;
}
ol{
    color: #2a0077;
}

.footer{
    text-align: center;
}