section{
    position: relative;
    top: 100px;
    z-index: 99;
}

section form fieldset{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #2a0077;
    color: #ffffff;
}

.inputSec{
    margin: 10px;
}
.msg{
    margin: 10px;
}


@media screen and (min-width:782px) {
    #submit{
        position: relative;
        top: 160px;
    }
}

input#submit{
    background-color: #5900ff;
    color: #ffffff;
    padding: 5px;
    margin: 5px;
    min-height:20px;
    max-height: 30px;
    max-width: 300px;
    min-width: 100px;
    border: 1px solid #000000;
    border-radius: 10px;
    transition: all 0.4s ease;
}
input#submit:active{
    background-color: #2a0077;
}
input#submit:hover{
    opacity: 0.8;
}

input {
    outline: none;
}
input:focus{
    background-color: #b1e9ff;
}